.div_bir, .div_ikki {
    margin: 40px;
}
 .div_bir{
    background-color: aqua;
    border: 5px dashed black;
    padding: 20px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-top: 0;
}
.div_ikki {
    background-color: aqua;
   border: 5px dashed red;
}
.div_ikki,p {
    padding: 20px;
    padding-left: 200px;
}