h1 {
  background-color: rgb(218, 255, 10);
 background-image: url("./rasm\ 2.jpg");
 background-repeat:no-repeat ;
 background-size: 400px 600px;
  padding: 20px;
  display: inline-block;
  width: 300px;
  height: 600px;
  border-radius: 30px;
}
h1:hover {
    background-color: rgb(6, 143, 255);
    padding: 30px;
    display: inline-block;
    color: beige;
    width: 300px;
    height: 600px;
    border: 2px solid black;
    border-radius: 20%;
  }
 
   